<div class="container pt-5">
	<% _.each(categories, function(subcategory) { %>
	<div class="row justify-content-center pt-5">
		<div class="col-8 ">
			<div class="card text-center">
				<% if (subcategory.image) { %>
				<img class="card-img-top" src="/images/<%= subcategory.image%>">
				<% } %>
				<div class="card-body">
					<h1><%= subcategory.name %></h1>
					<p><%= subcategory.page_description %></p>
				</div>
			</div>
		</div>
	</div>
	<% });%>
</div> <!-- /container -->