<div class="container pt-5">
    <div class="row row justify-content-center pt-5">
        <div class="col-3">
            <img class="img-fluid" src="/images/<%= image%>">
        </div>
        <div class="col-8">
            <h1><%= product.name%></h1>
            <p><%= product.page_description%></p>
            <p>Price: <%= product.price%></p>
            <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
        </div>
    </div>
</div>
